<div id="registration">
    <form action="/registration" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>
            
            <p style="text-align:center">OR</p>

            <input type="text" id="firstName" class="form-control" placeholder="First name" autofocus="">
            <input type="text" id="last-name" class="form-control" placeholder="Last name" autofocus="">
            <input type="tel" id="phone-number" class="form-control" placeholder="Phone Number" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder="Email address" autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" autofocus="">

            <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
            <hr>

            <div>
                <a id="goLogin" href="/login">Already have an account? Go to login</a>
            </div>
        </form>
</div>
<hr>