<div id="login">
        <form action="/forms/login" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email Address as Username" autofocus="">
            <div class="errors usernameError">
                {{usernameError}}
            </div>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
            <div class="errors passwordError">
                {{passwordError}}
            </div>
            <input class="btn btn-success btn-block" type="submit" value="Sign in">
            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <a href="/registration"><button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button></a>
        </form>       
</div>
<hr>